<body>
    <video id="bgVideo" preload="true" autoplay loop muted>
        <source src="assets/images/festive.mp4" type="video/mp4">
    </video>
    <!--//BEGIN BG-->
    <div class="bg">
        <!--//START CONTAINERr-->
        <div class="container">
            <!--//START HEADER-->
            <div class="row header">
                <div class="row">
                    <div class="col-md-6" id="logo">
                        <!----//LOGO---->
                        <div class="well logo">
                            <h1 id="headsMain"><span class="redText" id="e">e</span>MINDER</h1>
                        </div>
                        <!----//LOGO---->
                    </div>
                    <div class="col-md-6" id="corner">
                        <!---//BUTTON DIV--->
                        <div class="login-info well header-right">
                            <a href="/users/new">
                                <div id="myBtn1" class="button_base b05_3d_roll">
                                    <div>Sign Up</div>
                                    <div>Sign Up</div>
                                </div>
                            </a>
                            <a href="/users/sign-in">
                                <div id="myBtn2" class="button_base b05_3d_roll">
                                    <div>Login</div>
                                    <div>Login</div>
                                </div>
                            </a>
                        </div>
                        <!---//END BUTTON DIV--->
                    </div>
                </div>
            </div>
            <!---- //END HEADER---->
            {{#if logged_in}}
                <form action="/people/create" method="POST">
                    <input type="text" name="name">

                    <input type="submit">
                </form>
            {{/if}}

            {{#unless logged_in}}
            {{/unless}}


            <ul>
                {{#each people}}
                    <li>
                        {{this.name}}
                        {{#if ../logged_in}}
                            <a href="/people/{{this.id}}/destroy">
                                destroy</a>
                        {{/if}}
                        <ul>
                            {{#if ../logged_in}}
                                <li>
                                    <form action="/people/{{this.id}}/tasks/create" method="POST" style="display: inline">
                                        <input type="text" name="task" placeholder="add task here">
                                        <input type="submit" value "assign task">
                                    </form>
                                </li>
                            {{/if}}

                            {{#each this.Tasks }}
                                <li>
                                    {{this.task}}
                                    {{#if ../../logged_in}}
                                        <a href="/people/{{this.person_id}}/tasks/{{this.id}}/destroy">destroy</a>
                                    {{/if}}
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                {{/each}}
            </ul>

            <!-----SLIDE BANNER---->
            <div class="well slide-banner row" id="slogan">
                <div class="slide-banner-left col-md-6">
                    <span></span>
                    <h1>When you need to remember...</h1>
                    <p class="shadow">and you can't remember
                        <span class="redText">SHIT</span>.</p>
                    <p>
                        <div id="myBtn3" class="button_base b05_3d_roll" href="#">
                            <div>Read More</div>
                            <div>Read More</div>
                        </div>
                    </p>
                </div>
                <div class="well slide-banner-right col-md-4" id="icon">
                    <div>
                        <i class="glyphicon glyphicon-calendar"></i>
                        <i id="bogus" class="fa fa-bolt" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <script>
            $(function() {
                $('create-update').on('submit', function(e) {
                    e.preventDefault();
                    $.ajax({
                        url: "/users/create",
                        type: "POST",
                        data: $("create-update").serialize(),
                        success: function(data) {
                            alert("Successfully submitted.")
                        }
                    });
                });
            });
        </script>

        <script>
            $(document).ready(function() {
                $("#myBtn3").click(function() {
                    $("#myModal3").modal();
                });
            });
        </script>

        <!--//READ MORE MODAL-->
        <div class="modal fade" id="myModal3" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><span class="redText">e</span><span="greenText">Minder</span></h4>
                    </div>
                    <div class="modal-body">
                      <p>
                      Never again feel that awful amalgamation of dread, guilt, and self-loathing because you forgot to get a gift for an important event! With a little input from you, we’ll make sure you remember to get that special gift- at the best price on the web- before the big day.
                      </p>
                      <p>
                      Sign up and sign in securely with password protection. Create an event for which you want reminders and enter a specific gift or a category. If a category is entered, you will be presented with a choice of popular gifts.
                      </p>
                      <p>
                      Once a selection has been made, sites will be searched for the best price of the item you’ve chosen. An email will be sent to you on your requested date to remind you of your upcoming event(s). Additionally, if requested, another email will be sent once a day with the gift being tracked, the best web price for that option, a picture, and a link to the retailer.
                      </p>
                      <p>
                      Your credit card information is secure because you never need to enter it to use the app.
                      </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- LOGIN MODAL -->
        <div class="modal fade" id="myModal3" role="dialog">
            <form class="create-update-form" id="create-update" action="/users/create" method="POST">
                <div class="modal-body">
                    <input type="email" placeholder="email">
                    <p>This service will notify you by email should any issue arise that affects your service.</p>
                </div>
                <div class="modal-footer">
                    <!-- <button class="button_base b05_3d_roll" type="submit"> -->
                    <input id="button_base b05_3d_roll" type="submit" value="SUBMIT" class="btn">
                </div>
            </form>
        </div>

</body>
