<body>
    <video id="bgVideo" preload="true" autoplay loop muted>
        <source src="assets/images/main.mp4" type="video/mp4">
    </video>

    <!----start-bg---->
    <div class="bg">
        <div class="container">
            <div class="jumbotron">
                <div>
                  <h1 id="heads"><span class="redText" id="e">e</span>MINDER</h1>
                </div>
                <h3 class="occHead">EVENTS</h3>
                <div class="page-header" id="mainpage">

                {{#if logged_in}}

                    {{#if eventsExist}}
                        <ul>
                            {{#each eventdisp}}
                                <li>
                                    <h5><span class="bolden">Recipient:</span>
                                    {{this.recipient_name}}</h5>
                                    <h5><span class="bolden">Date:</span>
                                    {{this.event_date}}</h5>

                                    <h5><span class="bolden">Occasion:</span>
                                    {{this.event_type}}</h5>

                                    <h5><h5><span class="bolden">Gift:</span>
                                    {{this.gift_name}}</h5>

                                    <h5><span class="bolden">Max Price:</span>${{this.max_price}}
                                    <span class="bolden">Purchased:</span>
                                    {{this.purchased}}</h5>
                                    <form class="create-update-form" action="events/delete/{{this.id}}" method="POST">
                                      <button class="button_base b05_3d_roll" type="submit">
                                        <div>Delete Event</div>
                                        <div>Delete Event</div>
                                      </button>
                                    </form>
                                </li> 
                            {{/each}}
                        </ul>
                    {{/if}}
                  </div>
                    <h3 class="occHead">ADD AN OCCASION</h3>
                    <form class="create-update-form" action="events/create" method="POST">
                      <div class="col-3">
                        <label>
                          Occasion
                          <input placeholder="What's the deal?" tabindex="1" id="atype" name="type" required>
                        </label>
                      </div>
                      <div class="col-3">
                        <label>
                          Date
                          <input type="date" id="adate" tabindex="2" name="date" required>
                        </label>
                      </div>
                      <div class="col-3">
                        <label>
                          Gift
                          <input type="text" placeholder="What's The Gift?" tabindex="3" id="agift" name="gift">
                        </label>
                      </div>
                      <div class="col-3">
                        <label>
                          Who's It For?
                          <input type="text" placeholder="WHO?" tabindex="4" id="aname" name="name">
                        </label>
                      </div>
                      <div class="col-3">
                        <label>
                          Max Price
                          <input type="number" placeholder="99.99" tabindex="5" id="aprice" name="maxprice">
                        </label>
                      </div>
                      <div class="col-3">
                        <label>
                          Gift Status
                          <div class="buttonGroup">
                              <input type="radio" required name="purchased" id="1" value="purchased"><label for="1">Purchased </label>
                              <input type="radio" required name="purchased" id="2" value="notpurchased"><label for="2">Not Purchased</label>

                          </div>
                        </label>
                      </div>

                        <button class="button_base b05_3d_roll" type="submit">
                          <div>Add Event</div>
                          <div>Add Event</div>
                        </div>
                        </button>
                    </form>
                {{/if}}

                <!-- <div id="butDiv">
                  <div class="button_base b05_3d_roll" data-toggle="modal" data-target="#deletEmodal" href="#">
                        <div>Delete Event</div>
                        <div>Delete Event</div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</body>
</html>
