<h1>Gift tracking and Reminders</h1>

{{#if this.username}}
  Welcome {{this.username}}! Register important dates and add gift tracking.
{{/if}}

{{#unless logged_in}}
  <p> Sign up </p>
{{/unless}}

{{#if logged_in}}

{{#if eventsExist}}
<ul>
{{#each eventdisp}}
  <li>
  Recipient: {{this.recipient_name}}
  <br>
  Date: {{this.event_date}}
  <br>
  Occasion: {{this.event_type}}
  <br>
  Gift: {{this.gift_name}}
  <br>
  Max-Price: ${{this.max_price}}
  <br>
  Purchased: {{this.purchased}}
  </li>
{{/each}}
</ul>
{{/if}}

  <h2>Add an Occasion</h2>

  <form class="create-update-form" action="events/create" method="POST">

    <div class="form-group">
      <label for="aDate">Occasion:</label>
      <input type="text" id="atype" name="type">
    </div>

    <div class="form-group">
      <label for="aGift">Date:</label>
      <input type="date" id="adate" name="date">
    </div>

    <div class="form-group">
      <label for="aGift">Who's it for:</label>
      <input type="text" id="aname" name="name">
    </div>

    <div class="form-group">
      <label for="aGift">Gift:</label>
      <input type="text" id="agift" name="gift">
    </div>

    <div class="form-group">
      <label for="aGift">Max Price:</label>
      <input type="number" id="aprice" name="maxprice">
    </div>

    <div class="form-group">
      <input type="radio" name="purchased" value="purchased">Purchased<br>
      <input type="radio" name="purchased" value="notpurchased">Not-Purchased
    </div>

    <button type="submit">Add Occasion</button>
  </form>

{{/if}}
